/* RESET */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* BODY */

body{

  font-family:'Segoe UI', sans-serif;

  min-height:100vh;

  background:
    linear-gradient(
      rgba(0,0,0,0.85),
      rgba(0,0,0,0.85)
    ),

    url('https://images.unsplash.com/photo-1503951914875-452162b0f3f1?q=80&w=1920&auto=format&fit=crop')
    center center
    /cover;

  color:white;

  padding:30px;
}

/* CONTAINER */

.container{

  width:100%;

  max-width:1300px;

  margin:auto;

  padding:40px;

  border-radius:20px;

  background:
    rgba(255,255,255,0.08);

  backdrop-filter:blur(10px);
}

/* TÍTULO */

h1{

  text-align:center;

  margin-bottom:30px;

  color:#d4af37;
}

/* CALENDÁRIO */

#calendar{

  background:white;

  padding:20px;

  border-radius:20px;
}

/* =========================================
   FULLCALENDAR
========================================= */

/* TEXTOS GERAIS */

.fc{

  color:#111 !important;
}

/* DIAS DA SEMANA */

.fc-col-header-cell-cushion{

  color:#111 !important;

  font-weight:bold;
}

/* NÚMERO DOS DIAS */

.fc-daygrid-day-number{

  color:#111 !important;

  font-weight:bold;
}

/* BOTÕES */

.fc-button{

  background:#d4af37 !important;

  border:none !important;

  color:black !important;

  font-weight:bold !important;
}

/* BOTÃO HOVER */

.fc-button:hover{

  opacity:0.9;
}

/* EVENTOS */

.fc-event{

  background:#d4af37 !important;

  border:none !important;

  color:black !important;

  font-weight:bold;
}

/* HOJE */

.fc-day-today{

  background:
    rgba(212,175,55,0.15) !important;
}

/* TÍTULO MÊS */

.fc-toolbar-title{

  color:#111 !important;

  font-weight:bold;
}

/* HORÁRIOS */

.fc-timegrid-slot-label{

  color:#111 !important;
}

/* LINHAS */

.fc-theme-standard td,
.fc-theme-standard th{

  border-color:#ddd !important;
}

/* VOLTAR */

.voltar{

  display:inline-block;

  margin-top:30px;

  color:#d4af37;

  text-decoration:none;
}

/* RESPONSIVO */

@media(max-width:768px){

  .container{

    padding:20px;
  }

}